<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PathToDedicatedServer" value="C:\UnrealEngine-4.25.3-release\Engine\Binaries\Win64\UE4Editor.exe"/>
		<add key="ServerArguments" value="&quot;C:\Users\geova\OneDrive\Documents\Unreal Projects\VRClassroom 4.25\src\VRClassroom.uproject&quot; {0}?listen -server -log -nosteam -messaging -port={1}"/>
		<add key="APIKey" value="7EFDEEAE-B3CE-4043-8DE4-77219A60A9E0"/>
		<add key="ListenOn" value="http://localhost:8181/RPGWorldServer"/>
		<add key="APIPath" value="http://rpgwebapi.sabredartstudios.com"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>